.main-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.filter-container {
  width: 20%;
  background-color: #f4f4f4;
  padding: 20px;
  margin: 15px;
  border: 2px solid #dedede;
  border-radius: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: fit-content;
  position: relative; /* Ensure calendar stays within the filter container */
}

.table-container {
  width: 72%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: Arial, sans-serif;
  padding: 10px;
}

.table-header {
  display: flex;
  justify-content: space-around; /* Ensure space between tab and button */
  align-items: center; /* Align items horizontally */
  width: 100%;
  margin-bottom: 2px;
  margin-top: 5px;
  padding: 0 10px;
  position: relative;
  margin-right: 30px;
  margin-left: 30px;
}

.search-bar {
  width: 80%;
}

.tab-wrapper {
  display: flex;
  justify-content: center;
}

.tab {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  border-bottom: 5px solid rgb(199, 222, 200);
}

.tablinks {
  background-color: #d1d1d1;
  width: 80px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: background-color 0.3s, transform 0.2s;
  margin: 0 5px;
  font-weight: bold;
  border-radius: 10% 10% 0 0;
}

.tablinks:hover {
  background-color: #d2ead4;
  transform: translateY(-3px);
}

.tablinks.active {
  background-color: #4CAF50;
  color: white;
}

.tabcontent {
  display: none;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.tabcontent.active {
  display: block;
  opacity: 1;
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.custom-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.custom-table th,
.custom-table td {
  padding: 12px 15px;
  text-align: left;
  transition: background-color 0.3s, color 0.3s;
}

.custom-table th {
  background-color: #f4f4f4;
  color: #333;
  position: sticky;
  top: 0;
  z-index: 1;
}

.custom-table th.sortable:hover {
  cursor: pointer;
  background-color: #e2e2e2;
}

.custom-table tbody tr {
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

.custom-table tbody tr:hover {
  background-color: #f0f0f0;
  transform: scale(1.01);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-table tbody td {
  color: #555;
}

.custom-table .highlighted {
  background-color: #f9f9f9;
}

.custom-table .no-results {
  text-align: center;
  color: #999;
  font-style: italic;
}

.custom-table th,
.custom-table td {
  text-align: left;
  white-space: nowrap; /* Prevent text wrapping */
  font-size: 14px;
}

.custom-table th {
  width: 150px; /* Set a fixed width for table headers */
}

.custom-table td {
  width: 150px; /* Set a fixed width for table data */
}

.custom-table th.first-name,
.custom-table td.first-name {
  width: 12%;
}

.custom-table th.surname,
.custom-table td.surname {
  width: 12%;
}

.custom-table th.sin,
.custom-table td.sin {
  width: 10%;
}

.custom-table th.phone,
.custom-table td.phone {
  width: 10%;
}

.custom-table th.email,
.custom-table td.email {
  width: 17.5%;
}

.custom-table th.company-name,
.custom-table td.company-name {
  width: 30%;
}

.custom-table th.business-number,
.custom-table td.business-number {
  width: 20%;
}

.custom-table th.year-end,
.custom-table td.year-end {
  width: 12%;
}

.custom-table th.estate-name,
.custom-table td.estate-name {
  width: 20%;
}

.custom-table th.trust-number,
.custom-table td.trust-number {
  width: 20%;
}

.search-bar {
  margin-bottom: 8px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-bar input {
  width: 80%;
  padding: 10px 15px;
  border: 2px solid rgb(199, 222, 200);
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.search-bar input:focus {
  border-color: #4CAF50;
  border-width: 2.5px;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.filter-category h3 {
  color: #2c3e50;
  font-size: 18px;
}

.filter-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 14px;
}

.filter-item.inactive {
  opacity: 0.5;
}

input[type="checkbox"] {
  margin-left: 10px;
}

.calendar-button,
.reset-button,
.apply-button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;
}

.calendar-button:hover,
.reset-button:hover,
.apply-button:hover {
  background-color: #337435;
}

.date-display {
  margin: 0 10px;
  font-style: italic;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.reset-button {
  background-color: #e74c3c;
}

.apply-button {
  font-weight: bold;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 2px solid #4CAF50;
  padding: 9px;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: border-color 0.2s, box-shadow 0.2s, background-color 0.2s ease;
}

input[type="checkbox"]:hover {
  background-color: #ceeccf;
  border-color: #90ae91;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

input[type="checkbox"]:checked {
  background-color: #4CAF50;
  border: 2px solid #4CAF50;
}

input[type="checkbox"]:checked:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.custom-select {
  width: 50%;
  padding: 3px;
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  font-size: 14px;
  transition: border-color 0.3s ease-in-out;
}

.custom-select:focus {
  border-color: #80a581;
  outline: none;
}

.custom-select option {
  padding: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 10px;
  list-style: none;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pagination li {
  margin: 0 3px;
}

.pagination a {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 6px 12px;
  margin: 0 3px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  border-radius: 12px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  height: 24px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.pagination a:hover {
  background-color: #337435;
  transform: translateY(-2px);
}

.pagination .active a {
  background-color: #337435;
  pointer-events: none;
  transform: scale(1.1);
}

.pagination .disabled a {
  background-color: #ccc;
  cursor: not-allowed;
  pointer-events: none;
}

.calendar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.calendar-container {
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
}

.calendar-header {
  text-align: center;
  margin-bottom: 10px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendar-day {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.calendar-day:hover {
  background-color: #e9e9e9;
}

.calendar-day.selected {
  background-color: #4CAF50;
  color: #fff;
}

/* Year Selector Styles */
.year-selector {
  display: inline-block;
  margin-bottom: 15px;
}

.year-button {
  width: 107px;
  height: 30px;
  background-color: #ccc;
  color: #fff;
  border: none;
  padding: 5px 3px;
  margin: 0px 3px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
}

.year-button.active {
  background-color: #4CAF50;
}

.year-button:hover:not(.active) {
  background-color: #97cea1; /* Light green when hovering and inactive */
}

.year-button:active:not(.active) {
  background-color: #4CAF50; /* Full green when pressing and inactive */
}

.export-button {
  background-color: transparent;
  color: #868686;
  border: 3px solid #868686;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s, color 0.3s, border-color 0.3s;
  margin-left: 10px;
  margin-right: 30px;
  width: 200px;
  margin-bottom: 15px;
}

.export-button:hover {
  background-color: #666666;
  color: #ffffff;
  border-color: #666666;
  transform:scale(1.03)
}


/* New styles for applied filters container and filter boxes with animations */
.applied-filters {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 5px 10px 5px;
}

.filter-box {
  background-color: #4CAF50;
  color: white;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  animation: fadeIn 0.5s ease;
}

.filter-box.removing {
  animation: fadeOut 0.5s ease forwards;
}

.filter-box button {
  background: none;
  border: none;
  color: white;
  margin-left: 5px;
  cursor: pointer;
  font-weight: bold;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}
