.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #ffffff;
  border-bottom: 2px solid #e0e0e0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-logo {
  height: 50px;
  margin-top: 5px;
  transition: transform 0.3s;
  margin-right: 25px;
}

.header-logo:hover {
  transform: scale(1.1);
}

.header-title {
  font-size: 28px;
  font-weight: bold;
  font-style: italic;
  color: #4b4b4b;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 150px; /* Increase the margin to create more space between the title and the menu */
}

.header-menu {
  position: absolute;
  left: 60%; /* Adjust the left offset to move the menu closer to the middle */
  transform: translateX(-50%);
  display: flex;
  gap: 15px;
}

.menu-link {
  color: #4CAF50;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  padding: 5px 0;
  transition: color 0.3s, background-color 0.3s;
}

.menu-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #4CAF50;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
}

.menu-link:hover {
  color: #4CAF50;
  background-color: #ffffff;
}

.menu-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.menu-divider {
  width: 2px;
  background-color: #b7bbbe;
  margin: 0 10px;
}

.login-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #4CAF50;
  background-color: transparent;
  border: 3px solid #4CAF50;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.login-button:hover {
  background-color: #4CAF50;
  color: #ffffff;
  transform: scale(1.05);
}
