.main-content {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  .filter-container {
    width: 20%;
    background-color: #f4f4f4;
    padding: 20px;
    margin: 15px;
    border: 2px solid #dedede;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: fit-content;
  }
  
  .filter-category {
    margin-bottom: 20px;
  }
  
  .date-picker-container {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .date-button {
    background: linear-gradient(135deg, #4caf50, #81c784);
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    display: inline-block;
  }
  
  .date-button:hover {
    background: linear-gradient(135deg, #45a049, #66bb6a);
    transform: translateY(-2px);
  }
  
  .date-range-display {
    margin-top: 10px;
    padding: 10px;
    background-color: #e9f7ef;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    font-size: 14px;
    color: #155724;
    text-align: center;
  }
  
  .table-container {
    width: 72%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: Arial, sans-serif;
    padding: 10px;
  }
  
  .search-bar {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .search-bar input {
    width: 80%;
    padding: 10px 15px;
    border: 2px solid rgb(199, 222, 200);
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    transition: all 0.3s ease-in-out;
  }
  
  .search-bar input:focus {
    border-color: #4CAF50;
    border-width: 2.5px;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .custom-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .custom-table th,
  .custom-table td {
    border: 1px solid #ddd;
    padding: 8px;
    transition: background-color 0.3s;
  }
  
  .custom-table th {
    background-color: #f2f2f2;
    color: #333;
  }
  
  .custom-table th:hover {
    background-color: #e2e2e2;
  }
  
  .custom-table tbody tr:hover {
    background-color: #f9f9f9;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 10px;
    list-style: none;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .pagination li {
    margin: 0 3px;
  }
  
  .pagination a {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 6px 12px;
    margin: 0 3px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    border-radius: 12px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    height: 24px;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .pagination a:hover {
    background-color: #337435;
    transform: translateY(-2px);
  }
  
  .pagination .active a {
    background-color: #337435;
    pointer-events: none;
    transform: scale(1.1);
  }
  
  .pagination .disabled a {
    background-color: #ccc;
    cursor: not-allowed;
    pointer-events: none;
  }
  