.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: Arial, sans-serif;
}

.tab {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  border-bottom: 5px solid rgb(199, 222, 200);
  width: 240px
}

.tablinks {
  background-color: #f1f1f1;
  width: 100px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: background-color 0.3s, transform 0.2s;
  margin: 0 5px;
  font-weight: bold;
  border-radius: 10% 10% 0 0;
}

.tablinks:hover {
  background-color: #d2ead4;
  transform: translateY(-3px);
}

.tablinks.active {
  background-color: #4CAF50;
  color: white;
}

.tabcontent {
  display: none;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.tabcontent.active {
  display: block;
  opacity: 1;
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.custom-table th,
.custom-table td {
  border: 1px solid #ddd;
  padding: 8px;
  transition: background-color 0.3s;
}

.custom-table th {
  background-color: #f2f2f2;
  color: #333;
}

.custom-table th:hover {
  background-color: #e2e2e2;
}

.custom-table tbody tr:hover {
  background-color: #f9f9f9;
}

.custom-table tbody.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

.search-bar {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-bar input {
  width: 80%;
  padding: 10px 15px;
  border: 2px solid rgb(199, 222, 200);
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.search-bar input:focus {
  border-color: #4CAF50;
  border-width: 2.5px;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
