.content {
  flex-grow: 1;
  background-color: #fff;
  display: flex;
  align-items:flex-start; /* Center vertically */
  justify-content: center; /* Center horizontally */
  padding: 20px;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th,
.custom-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.custom-table th {
  background-color: #eaeaea; /* Light gray for header */
}

.custom-table tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Alternate row background */
}